* 
{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  list-style: none;
}

html
{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

:root 
{
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
  --border: 0.1rem solid #000;
  --grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  --bg-primary-color: #012546;
  --bg-blue: #02294f;
}

.header
{
    position: relative;
    background: url(../images/background01.jpg) top center / cover no-repeat;
    height: 300px;
    text-align: center;
}

.header__top
{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 15.3vw rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
}

.header__user h1
{
    margin-top: 5rem;
    color: rgba(255, 255, 255);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.header__user p
{
    margin-top: .5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255);
    font-weight: 700;
    
}

.header__avt
{
    position: absolute;
    width: 20rem;
    height: 20rem;
    margin-left: 44%;
    margin-right: 50%;
    margin-top: 2rem;
    
}

.header__avt .header__avt__item
{
    width: 100%;
    height: 100%;border: .5rem solid #fff;
    border-radius: 50%;
}

.container
{
    background-color: #000;
    height: 300rem;
}

.liner
{
    border-top: .5rem solid #fff;
}

.container .profile
{
    margin-top: 10rem;
    color: #fff;
    margin: 10rem 10rem 0rem 10rem;
}
.profile_user
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 400px;
}
.profile_user_small
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 200px;
}
.container .profile .profile_user
{
    margin-bottom: 7rem;
    font-size: 2rem;
    cursor: text;
}

/* .container .profile .profile_user:hover
{
    color: #012546;
} */

.container .profile .profile_user:hover .liner_2
{
    border-top: .1rem solid #012546;
}

.container .profile .profile_user .liner_2
{
    border-top: .1rem solid #fff;
}

.text__blue
{
    color: #34b1eb;
    font-size: 16px;
    padding: 5px 5px;
}
.user__info
{
    width: 100%;
    /* margin: 0 2px; */
    background-color: #ede9e6;
    height: 400px;
    display: flex;
    border-radius: 24px;
    flex-direction: column;
    justify-content: space-between;
}
.user__info__name
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.user__info__mid
{
    margin-bottom: 30px;
}
.user__info__top
{
    text-align: center;
    height: 70px;
    background-color: #fff;
    width: 100%;
    border-radius: 24px 24px 0 0;
}
.user__info__top--title
{
    line-height: 70px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.user__info__bot
{
    display: flex;
    justify-content: space-around;
}
.user__info__bot__left,
.user__info__bot__right
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.user__info__bot__til
{
    /* background-color: white; */
    height: 40px;
}
.user__info__bot__til .text__blue
{
    font-weight: 800;
    font-size: 18px;
}
.result-study-info
{
    background-color: #ede9e6;

    height: 400px;
}
.result-study-info-tit
{
    height: 70px;
    border-radius: 24px 24px 0 0 ;
    background-color: #fff;
}
.result-study-info-tit p
{
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
}
.result-study-info-tit .text__blue
{
    font-size: 26px;
    text-align: center;
}
.result-study-info
{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.result-study-about
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.result-second img
{
    width: 100%;
    height: 98%;
    border-radius:0 0 0 24px;
}
.result-first
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 250px;
}
.result-study-info
{
    border-radius: 24px;
}
.product-bot
{
    height: 270px;
    background-color: #ede9e6;
}
.product-bot_f
{
    height: 70px;
    background-color: #ede9e6;
}
.product-bot_f .product-bot-dec
{
    font-size: 26px;
    line-height: 70px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.product-list
{
    /* display: grid; */
    margin-top: 35px;
}
.product-bot-s
{
    display: flex;
    /* margin: auto; */
    justify-content: center;
}
.product-list li
{
    display: inline-block;
    padding: 30px 30px 30px 30px;
    background-color:springgreen;
    margin-left: 12px;
    border-radius: 24px;

}
.product-list li:hover
{
    opacity: 0.6;
}
.product-bot
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 24px;
    /* align-items: center; */
}
.product-bot_f
{
    border-radius: 24px 24px 0 0;
}
.libary__grid
{
    border-radius: 24px;
}
.libary-img
{
    display: grid;
    /* display: none; */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.333% 33.333% 33.333%;
    gap: .5rem;
}
.libary-img img
{
    width: 100%;
    height: 100%;
}
.libary__grid
{
    background-color: #fff;
    width: 100%;
    height: 150rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem 2rem 2rem;
    /* justify-content: space-around; */
}
.libary__grid .libary-title
{
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
}
.libary__grid_top
{
    height: 70px;
}
.img8
{
    grid-column: 1/2;
    grid-row: 1/4;
}
.img2
{
    grid-column: 2/4;
    grid-row: 1/2;
}
.img1
{
    grid-column: 4/5;
    grid-row: 1/2;
}
.img3
{
    grid-column: 4/5;
    grid-row: 2/4;
}
.footer
{
    background-color: #000;
}
.footer .footer__e
{
    color: #ccc;
    font-size: 26px;
    text-align: center;
}